{% extends "user-reg/base.html" %} {%block title_block%} change your password</h1>
{% endblock %} {% block body_block %}
<form method="post" action=".">
    {% csrf_token %}
    <table border="1" class="lowercase">
        {% for field in form %}
        <tr>
            <td>
                {{ field.errors }} {{ field.label_tag }}
            </td>

            <td>
                {{ field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="submit" />
</form>
{% endblock %}